#jobs
	- @jobs.each_slice(4) do |jobs|
		.row
			- jobs.each do |job|
				.col-md-3
					.job
						%h3= link_to job.title, job
						%p
							%b= job.company
		.row
			=paginate @jobs
			= page_entries_info @jobs